# SPDX-FileCopyrightText: 2026 Greyfoundry contributors
# SPDX-License-Identifier: Apache-2.0 OR MIT

* text=auto
*.bat text eol=crlf
gradlew text eol=lf
proto/** text eol=lf
java/elah-api/src/generated/java/** text eol=lf whitespace=-blank-at-eol,-blank-at-eof
